<div class="container">
	<div class="page-header">
		<h1>Our Team</h1>
	</div>
	<div class="row">
		<div class="col-sm-6 col-md-3">
			<div class="thumbnail">
				<%= image_tag("president.jpg", :alt => "President") %>
				<div class="caption">
					<h3>President</h3>
					<p><strong>Ervin Johnson.</strong> Fashion axe YOLO four loko marfa mixtape iPhone.</p>
				</div>
			</div>
		</div>
		<div class="col-sm-6 col-md-3">
			<div class="thumbnail">
				<%= image_tag("marketing.jpg", :alt => "President") %>
				<div class="caption">
					<h3>Marketing</h3>
					<p><strong>Michael Cooper.</strong> Vinyl church-key cardigan, poutine blue bottle humblebrag.</p>
				</div>
			</div>
		</div>
		<div class="col-sm-6 col-md-3">
			<div class="thumbnail">
				<%= image_tag("sales.jpg", :alt => "President") %>
				<div class="caption">
					<h3>Sales</h3>
					<p><strong>James Worthy.</strong> Scenester wayfarers fixie disrupt messenger bag, tote bag.</p>
				</div>
			</div>
		</div>
		<div class="col-sm-6 col-md-3">
			<div class="thumbnail">
				<%= image_tag("engineer.jpg", :alt => "President") %>
				<div class="caption">
					<h3>Engineer</h3>
					<p><strong>Kareem Abdul Jabbar.</strong> Keytar brooklyn cronut, kickstarter tumblr pitchfork.</p>
				</div>
			</div>
		</div>
	</div>
	
<p>Ugh scenester four loko mlkshk sartorial, fashion axe 90's. Chartreuse cornhole polaroid tote bag, tilde tousled retro literally mustache seitan selfies. Hashtag celiac cardigan, aesthetic poutine skateboard mixtape migas direct trade. Swag food truck fanny pack everyday carry messenger bag, VHS art party twee man braid bushwick offal scenester stumptown jean shorts pickled. Small batch hashtag biodiesel, tilde hammock bushwick 90's tote bag flannel. Tumblr XOXO swag godard. Vinyl church-key cardigan, poutine blue bottle humblebrag distillery schlitz meditation slow-carb banh mi.</p>
<p>Pinterest plaid knausgaard, godard locavore swag iPhone scenester disrupt tofu fanny pack affogato fingerstache street art. Taxidermy godard leggings asymmetrical, keffiyeh trust fund heirloom whatever. Fashion axe YOLO four loko marfa mixtape iPhone, vinyl before they sold out shabby chic hella heirloom single-origin coffee lo-fi. Keytar brooklyn cronut, kickstarter tumblr pitchfork brunch food truck marfa next level drinking vinegar. Affogato hella flannel, artisan yr farm-to-table wayfarers direct trade slow-carb etsy selfies. Meggings 3 wolf moon butcher stumptown, ugh fixie +1 raw denim before they sold out pinterest letterpress beard. Scenester wayfarers fixie disrupt messenger bag, tote bag affogato keffiyeh shoreditch kogi wolf actually polaroid.</p>
</div>

