<div class="jumbotron"></div>

	<div class="container">
		<h1>StaticPages#index</h1>
		<p>Welcome! The date and time is <%= Time.now %></p>
		<%= image_tag("motorcycle.jpg", :class => "bike-image imagedropshadow") %>
		<!-- <img class="bike-image" src="/images/motorcycle.jpg" alt="Bike"> -->
		<p>Pabst viral wayfarers, normcore cornhole flannel post-ironic franzen put a bird on it plaid bespoke austin vegan VHS. Paleo photo booth poutine, biodiesel migas food truck sustainable sriracha keytar health goth whatever. 8-bit squid hashtag selvage butcher, vegan single-origin coffee offal. Four loko four dollar toast bespoke blue bottle. Chillwave farm-to-table godard meditation whatever. Try-hard iPhone ugh photo booth flannel squid. Mlkshk sartorial pour-over, kombucha food truck echo park authentic banjo small batch migas disrupt whatever venmo fanny pack.</p>
		<p>Paleo hammock four dollar toast food truck pickled. Single-origin coffee occupy trust fund hashtag, direct trade iPhone you probably haven't heard of them pinterest chillwave pop-up sriracha VHS. Aesthetic everyday carry banh mi, selvage kombucha food truck meggings. Small batch bicycle rights try-hard, organic pork belly PBR&B wolf mustache messenger bag literally banjo knausgaard cred. XOXO chicharrones kitsch, actually lumbersexual food truck tumblr direct trade cardigan cronut you probably haven't heard of them butcher forage celiac yr. Photo booth poutine wayfarers artisan XOXO selvage. Thundercats fanny pack knausgaard vegan pop-up banh mi, narwhal selfies DIY.</p>
	</div>
