<table border="0" cellpadding = "0" width="100%">
	<tbody>
		<tr>
			<td>
				<table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border: 1px solid #cccccc;">
					<tr><!-- This is the header -->
						<td align="center" bgcolor="#000000" style="padding: 40px 0 30px 0;">
							<%= image_tag("emblem.png", :alt => "Creating Email Magic", :width => "133", :height => "100", :style => "display: block;") %>
							<h3 style="font-family: sans-serif; color: Gold;">Graz Custom Bikes</h3>
						</td>
					</tr><!-- Header ends here! -->
					<tr><!-- Main content begins -->
						<td bgcolor="#ffffff" style="padding: 40px 30px 40px 30px;">
						<!-- Create a nested table to center content -->
						 <table border="0" cellpadding="0" cellspacing="0" width="100%">
						  <tr><!-- Main content heading -->
						   <td style="color: #153643; font-family: Arial, sans-serif; font-size: 18px;">
						    <h3>You have received a new contact form message.</h3>
						   </td>
						  </tr><!-- Main content heading ends -->
						  <tr><!-- Message area begins -->
						   <td style="padding: 20px 0 30px 0; color: #153643; font-family: Arial, sans-serif; font-size: 16px; line-height: 20px;">
						    <p><%= @message %></p>
						   </td>
						  </tr><!-- Message ends -->
						  <tr><!-- Bottom thumbnails -->
						   <td>
						    <table border="0" cellpadding="0" cellspacing="0" width="100%">
							 <tr>
							  <td width="260" valign="top">
							   <table border="0" cellpadding="0" cellspacing="0" width="100%">
							    <tr>
							     <td>
							      <img src="images/left.gif" alt="" width="100%" height="140" style="display: block;" />
							     </td>
							    </tr>
							    <tr>
							     <td style="padding: 25px 0 0 0; color: #153643; font-family: Arial, sans-serif; font-size: 16px; line-height: 20px;">
							      Lorem ipsum dolor sit amet, consectetur adipiscing elit. In tempus adipiscing felis, sit amet blandit ipsum volutpat sed. Morbi porttitor, eget accumsan dictum, nisi libero ultricies ipsum, in posuere mauris neque at erat.
							     </td>
							    </tr>
							   </table>
							  </td>
							  <td style="font-size: 0; line-height: 0;" width="20">
							   &nbsp;
							  </td>
							  <td width="260" valign="top">
							   <table border="0" cellpadding="0" cellspacing="0" width="100%">
							    <tr>
							     <td>
							      <img src="images/right.gif" alt="" width="100%" height="140" style="display: block;" />
							     </td>
							    </tr>
							    <tr>
							     <td style="padding: 25px 0 0 0; color: #153643; font-family: Arial, sans-serif; font-size: 16px; line-height: 20px;">
							      Lorem ipsum dolor sit amet, consectetur adipiscing elit. In tempus adipiscing felis, sit amet blandit ipsum volutpat sed. Morbi porttitor, eget accumsan dictum, nisi libero ultricies ipsum, in posuere mauris neque at erat.
							     </td>
							    </tr>
							   </table>
							  </td>
							 </tr>
							</table><!-- Nested table ends -->
						</td>
					</tr><!-- Main content ends here -->
					<tr>
						<td bgcolor="Goldenrod" style="padding: 30px 30px 30px 30px;">
							<table border="0" cellpadding="0" cellspacing="0" width="100%">
						 <tr>
						  
						   <td width="75% color: #ffffff; font-family: Arial, sans-serif; font-size: 14px;">
							 &reg; Someone, somewhere 2016<br/><a href="#" style="color: #ffffff;"><font color="#ffffff">Unsubscribe</font></a> to this newsletter instantly
							</td>
						  
						  <td>
						   <td align="right">
							 <table border="0" cellpadding="0" cellspacing="0">
							  <tr>
							   <td>
							    <a href="http://www.twitter.com/">
							    	<%= image_tag("tw.gif", :alt => "Twitter", :width => "38", :height => "38", :style => "display: block; border: 0px;") %>
							    </a>
							   </td>
							   <td style="font-size: 0; line-height: 0;" width="20">&nbsp;</td>
							   <td>
							    <a href="http://www.linkedin.com/">
							    	<%= image_tag("in.gif", :alt => "linkedin", :width => "38", :height => "38", :style => "display: block; border: 0px;") %>
							    </a>
							   </td>
							  </tr>
							 </table>
							</td>
						  </td>
						 </tr>
						</table>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</tbody>
</table>