// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/** Nice colors to use
*** # (light gray)
*** Gold #FFD700
*** GoldenRod (Gold) #DAA520
*** DarkGoldenRod (Dark gold) #B8860B
*** Gainsboro (Light Gray) #DCDCDC
**/

clearfix:after {
    display: block;
    visibility: hidden;
    height: 0;
    clear: both;
    content: ".";
}

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 260px; /* Added 50px for the bottom margin */
  background: white url('bg_noise_light.png') repeat 0 0;
}

.no-bottom {
	margin-bottom: 0px;
}

h1, h2, h3, h4 {
	font-family: "source-sans-pro",sans-serif;
	font-weight: 600;
	color: #B8860B;
	text-transform: uppercase;

}

h1 {
	font-size: 2em;
}

p {
	font-family: "source-sans-pro",sans-serif;
	font-weight: 400;
}

.navbar {
	border-radius: 0px;
	margin-bottom: 0;
}

.navbar-inverse {
	background: rgba(21,20,15,1);
	background: -moz-linear-gradient(top, rgba(21,20,15,1) 0%, rgba(53,50,45,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(21,20,15,1)), color-stop(100%, rgba(53,50,45,1)));
	background: -webkit-linear-gradient(top, rgba(21,20,15,1) 0%, rgba(53,50,45,1) 100%);
	background: -o-linear-gradient(top, rgba(21,20,15,1) 0%, rgba(53,50,45,1) 100%);
	background: -ms-linear-gradient(top, rgba(21,20,15,1) 0%, rgba(53,50,45,1) 100%);
	background: linear-gradient(to bottom, rgba(21,20,15,1) 0%, rgba(53,50,45,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#15140f', endColorstr='#35322d', GradientType=0 );
}

.navbar-inverse .navbar-nav li a {
	color: DarkGoldenRod;
}

/************Paste to fix Menu ****************/

.navbar-inverse .navbar-brand:focus,.navbar-inverse .navbar-brand:hover {
    color: #fff;
    background-color: transparent
}

.navbar-inverse .navbar-text {
    color: DarkGoldenRod
}

.navbar-inverse .navbar-nav>li>a {
    color: DarkGoldenRod
}

.navbar-inverse .navbar-nav>li>a:focus,.navbar-inverse .navbar-nav>li>a:hover {
    color: Gold;
    background-color: transparent
}

.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.active>a:focus,.navbar-inverse .navbar-nav>.active>a:hover {
    color: Gold;
    background-color: #080808
}

.navbar-inverse .navbar-nav>.disabled>a,.navbar-inverse .navbar-nav>.disabled>a:focus,.navbar-inverse .navbar-nav>.disabled>a:hover {
    color: #444;
    background-color: transparent
}

.navbar-inverse .navbar-toggle {
    border-color: #333
}

.navbar-inverse .navbar-toggle:focus,.navbar-inverse .navbar-toggle:hover {
    background-color: #333
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: Gold
}

.navbar-inverse .navbar-nav>.open>a,.navbar-inverse .navbar-nav>.open>a:focus,.navbar-inverse .navbar-nav>.open>a:hover {
    color: Gold;
}

/************ End paste *************/

 .navbar>.container .navbar-brand,.navbar>.container-fluid .navbar-brand {
        margin-left: 0px;
 }


.navbar-header a {
	font-family: "kinescope",sans-serif;
	font-weight: 400;
	font-size: 2em;
}

.navbar-inverse .navbar-brand {
	background: rgba(243,226,199,1);
	background: -moz-linear-gradient(top, rgba(243,226,199,1) 0%, rgba(193,158,103,1) 50%, rgba(182,141,76,1) 51%, rgba(233,212,179,1) 100%);
	background: -webkit-gradient(left top, left bottom, background-stop(0%, rgba(243,226,199,1)), background-stop(50%, rgba(193,158,103,1)), background-stop(51%, rgba(182,141,76,1)), background-stop(100%, rgba(233,212,179,1)));
	background: -webkit-linear-gradient(top, rgba(243,226,199,1) 0%, rgba(193,158,103,1) 50%, rgba(182,141,76,1) 51%, rgba(233,212,179,1) 100%);
	background: -o-linear-gradient(top, rgba(243,226,199,1) 0%, rgba(193,158,103,1) 50%, rgba(182,141,76,1) 51%, rgba(233,212,179,1) 100%);
	background: -ms-linear-gradient(top, rgba(243,226,199,1) 0%, rgba(193,158,103,1) 50%, rgba(182,141,76,1) 51%, rgba(233,212,179,1) 100%);
	background: linear-gradient(to bottom, rgba(243,226,199,1) 0%, rgba(193,158,103,1) 50%, rgba(182,141,76,1) 51%, rgba(233,212,179,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startbackgroundstr='#f3e2c7', endbackgroundstr='#e9d4b3', GradientType=0 );

	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
    
}

.navbar-form {
	margin-top: 4px;
	margin-bottom: 4px;
}

.jumbotron {
	height: 400px;
	background-image: url('bike_banner2000x500.jpg');
	background-size: cover;
}

.bike-image {
	width: 400px;
	float: left;
	margin-right: 15px;
	margin-bottom: 15px;
	border: 2px solid DarkGray;
}

.imagedropshadow { 
	padding: 5px; 
	border: solid 1px #CCC; 
	-moz-box-shadow: 1px 1px 5px #999; 
	-webkit-box-shadow: 1px 1px 5px #999; 
	box-shadow: 1px 1px 5px #999; 
}

/**********Styles for carousel*************/

#home {
	top: 0;
}

a.carousel-control:hover {
	background-color: rgba(0, 0, 0, .3);
}

.contentCarousel {
	top: 0;
	padding: 0;
}

.contentCarousel h1, h2 {
	color: white;
}

.container-fluid {	
	margin: 0px;
	padding-left: 0px;
	padding-right: 0px;
}

.carousel-inner h1, h2, h3, h4, p {
	text-align: left;
}

.carousel-inner h1, h2, h3 {
	font-family: "almaq-rough",sans-serif;
	font-style: normal;
	font-weight: 400;
	color: #white;
	margin-bottom: 0px;
}

.carousel-inner h1 {
	font-size: 3em;
}

.carousel-inner h2 {
	font-size: 4em;
}

.carousel-inner p {
	color: #white;
	font-size: 1.2em;
	margin-bottom: 30%;
}

.carousel-caption {
	left: 10%;
}

.carousel-caption h3 {
	color: white;
}

.carousel-inner > .item > img {
   margin: 0 auto;
}

/******************* Thumbnails Begin ********************/

.thumbnail-home {
	height: 190px;
	background: #4c4c4c; /* Old browsers */
	background: -moz-linear-gradient(-45deg, #4c4c4c 0%, #131313 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, #4c4c4c 0%,#131313 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, #4c4c4c 0%,#131313 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	border: none;
	border-radius: 0;
	padding: 0;
	overflow: hidden;
}

.thumbnail-home h4 {
	font-family: "almaq-rough",sans-serif;
	font-style: normal;
	font-weight: 400;
	position: relative;
	color: white;
}

.caption-home {
	position: absolute;
	z-index: 1000;
}

.less-padding {
	padding-left: 1px;
	padding-right: 1px;
}

#image-container {
	z-index: -1;
}

.thumb-image {
	float: right;
}

.btn-default {
	color: white;
	background-color: transparent;
}

.btn-default:hover {
    color: #333;
    background-color: Gold;
    border-color: #adadad
}


/******************* Thumbnails Ends *********************/

.footer {
  position: absolute;
  padding: 15px 0px;
  bottom: 0;
  width: 100%;
  margin-bottom: 50px;
  /* Set the fixed height of the footer here */
  /* Value must be the same as for the html selector above */
  height: 190px;
  background-color: black;
}

.form-control {
	background-color: transparent;

}

.copyright {
	background-color: #222222;
	width: 105%;
	padding: 10px 0px;
	position: fixed;
	bottom: 0;
	left: -20px;
}

/*** Text formatting for footer ***/

footer h4 {
	color: LightGray;
	font-weight: 300;
}

footer ul {
	list-style: none;
}

footer ul li a {
	display: inline-block;
	color: Gainsboro;
}

footer ul li a:hover {
	color: DarkGoldenRod;
}

.copyright p {
	color: gray;
	height: 30px;
	text-transform: uppercase;
	text-align: center;
	padding-top: 5px;
	
}

.metal-emblem {
	width: 133px;
	height: 100px;
	position: absolute;
	right: 100px;
	top: -55px;
	background: url('emblem.png') no-repeat transparent;
	background-size: 100%;
	z-index: 1000;
}