<!DOCTYPE html>
<html>
<head>
  <title>MyFirstApp</title>
  <!-- Typekit embed code -->
  <script src="https://use.typekit.net/tjf3rtq.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
  <!-- Bootstrap CDN -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <!-- Bootstrap JS -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <%= csrf_meta_tags %>
  <!-- Bootstrap for mobile responsive -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<header>
			<nav class="navbar navbar-inverse">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				            <span class="sr-only">Toggle navigation</span>
				            <span class="icon-bar"></span>
				            <span class="icon-bar"></span>
				            <span class="icon-bar"></span>
				        </button>
						<a class="navbar-brand" href="#">Graz Custom</a>
					</div>
					<div id="navbar" class="collapse navbar-collapse">
						<ul class="nav navbar-nav navbar-right">
							<li><a href="#">About Us</a></li>
							<li class="dropdown">
								<a class="dropdown-toggle" data-toggle="dropdown" href="#">Bikes<span class="caret"></span></a>
								<ul class="dropdown-menu">
						            <li><a href="#">Street Bike</a></li>
						            <li role="separator" class="divider"></li>
						            <li><a href="#">Racing Bike</a></li>
						            <li role="separator" class="divider"></li>
						            <li><a href="#">Cruising Bike</a></li>
						         </ul>
							</li>
							<li><a href="">Gallery</a></li>
							<li><a href="">Contact</a></li>
						</ul>
					</div><!--/.nav-collapse -->
				</div>
				
			</nav>
		</header>
	<!-- <h1>Welcome to Bike Graz</h1>
	<h2>Your source for used bikes in Graz, Austria</h2> -->

<%= yield %>

	<footer class="footer">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-3 col-md-offset-1 col-sm-4 col-sm-offset-2 col-xs-10 col-xs-offset-2 site-nav">
					<h4>Site Navigation</h4>
					<ul>
						<li><a href="#">Home</a></li>
						<li><a href="#">About Us</a></li>
						<li><a href="#">Bikes</a>
							<!-- <ul>
								<li><a href="">Street</a></li>
								<li><a href="">Racing</a></li>
								<li><a href="">Cruising</a></li>
							</ul> -->
						</li>
						<li><a href="#">Contact</a></li>
					</ul>
				</div><!-- End of first column navigation -->
					
				<div class="col-md-4 col-sm-6 hidden-xs">
					<h4>Our Partners</h4>
					<ul>
						<li><a href="#">Harley Davidson</a></li>
						<li><a href="#">Ducati</a></li>
						<li><a href="#">BMW Motorcycle</a></li>
						<li><a href="#">Kawasaki</a></li>
						<li><a href="#">Honda</a></li>
					</ul>
				</div><!-- End of second column Partners -->

				<div class="col-md-4 hidden-sm hidden-xs">
					<h4>Subscribe to our Newsletter</h4>
					<form class="navbar-form navbar-left" role="search">
						<div class="form-group">
							<input type="email" class="form-control" id="email" placeholder="Enter email">
						</div>
						<button type="submit" class="btn btn-default">Sign up</button>
					</form>
				</div><!-- End of third column Newsletter -->
				
			</div><!-- End of row div -->
			<div class="copyright">
				<div class="container">
					<div>
						<p>&copy;2016 Jose M. Ramos. AKA, The Aprentice</p>
						<div class="metal-emblem hidden-xs"></div>
					</div>
					
				</div>
			</div>

		</div><!-- End of container for footer -->

	</footer>

</body>
</html>
